<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>

  <body>
    <div class="ui top fixed pointing menu">
      <a href="../../" class="active item">
        Home
      </a>
    </div>
    <div class="ui container" style="padding:65px">
      {% if isReserved %}
      <div class="ui positive message">
        <i class="close icon"></i>
        <div class="header">
          Exito
        </div>
        <p>Su reserva ha sido procesada.</p>
      </div>
      {% endif %}
      {% if err %}
      <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
          Error!
        </div>
        <p>Las fechas solicitadas no estan disponibles</p>
      </div>
      {% endif %}
      <div class="ui segment">
        <h2>{{realState.name}}</h2>
        <div class="ui centered fluid card">
          <div class="image">
            <img src="{{realState.image.url}}" />
          </div>
          <div class="content">
            <p class="header">
              {{realState.name}} - ${% widthratio realState.price 0.92 1 %} por noche
            </p>
            <div class="meta">
              <p>{{realState.city.province}}, {{realState.city.name}}</p>
            </div>
            <div class="description">
              {{realState.description}}
            </div>
          </div>
          <div class="extra content">
            <h3>Fechas disponibles:</h3>
              {% for fecha in availableDates %}
            <div class="ui green label">
              <div>{{ fecha }}</div>
            </div>
            {% endfor %}
            {%if availableDates|length == 0 %}
            <p>No hay fechas disponibles aún</p>
            {% endif %}
            {% if availableDates|length > 0 %}
            <form method="POST" class="post-form ui form">
              {% csrf_token %} {{ form }}
              <button type="submit" style="margin-top: 10px;" class="ui green button">Reservar</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</html>
